.about-section{
    padding-top:90px;
    overflow: hidden;
    z-index: 999;
    position: relative;
}
.about-section::after{
    content:"";
    position: absolute;
    z-index: -1;
    background:red;
    width: 416.24px;
    height: 305.84px;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, #9796F0 0.27%, #FBC7D4 148.57%);
    opacity: 0.5;
    filter: blur(150.18px);
    transform: matrix(0.87, 0.5, 0.5, -0.87, 0, 0);
}
