<section class="services-hero d-flex align-items-center margin-top">

  <div class="overlay"></div>

  <div class="container position-relative ">
    <div class="row">
      <div class="col-lg-8 text-white">

        <h1 class="hero-title mb-4">
          Elevate Your Business <br>
          <span class="highlight">With Smart Advertising</span>
        </h1>

        <p class="hero-subtitle mb-4">
          We craft powerful digital campaigns that increase visibility,
          generate leads, and grow your brand presence.
        </p>

       <div class="hero-buttons">
        <a 
            [href]="whatsappLink"
            target="_blank"
            class="btn btn-info btn-lg me-3 text-white"
            >
        
            Get Started
            </a>
         

          <button class="btn btn-outline-light btn-lg">
            Explore Services
          </button>
        </div>

      </div>
    </div>
  </div>

  <!-- Scroll Down Indicator -->
  <div class="scroll-indicator">
    <span></span>
  </div>

</section>

