<section class="py-3  mt-md-5 mt-3">
    <div class="d-flex justify-content-between container"> 
       <ng-container *ngFor="let service of provideServices; let serviceIndex = index">
        <div [class]=" selectedTab === serviceIndex?'tab border-bottom border-3 border-info ':'tab '" 
        (click)="tabSelection(serviceIndex)">
            <p [class]=" selectedTab === serviceIndex?'text-info fs-large fw-500':'text-muted fs-large fw-500'">
                {{service?.name}}
            </p>
        </div>
       </ng-container>
    </div>
</section>
<section class="shadow-lg py-5">
    <div class="container">
        <app-wedding-shoot></app-wedding-shoot>
    </div>
</section>
