<section class="contact" id="contact">
<div class="container py-4">
  <div class="row">
    <div class="col-md-5 col-lg-4 order-md-0 order-1">
       <h2 class="text-info mt-md-0 mt-3 text-uppercase">Contact Us</h2>
       <form class="g-3 needs-validation" action="mailto:rajeshrathore05011998@gmail.com" method="post">
        <div class="position-relative mt-lg-4 mt-3">
          <label for="validationTooltip01" class="form-label fs-large">Name</label>
          <input type="text" class="form-control" autocomplete="off" id="validationTooltip01" name="name"  required>
          <div class="valid-tooltip">
            Looks good!
          </div>
        </div>
        <div class=" position-relative mt-lg-4 mt-3">
          <label for="validationTooltipUsername" class="form-label fs-large">Email</label>
          <div class="input-group has-validation">
            <input type="email" autocomplete="off" name="email" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
            <div class="invalid-tooltip">
              Please enter  valid email.
            </div>
          </div>
        </div>
        
        
        <div class=" position-relative mt-lg-4 mt-3">
          <label for="validationTooltip05" class="form-label fs-large">Requirement</label>
          <textarea type="text" autocomplete="off" name="query" class="form-control" id="validationTooltip05" required></textarea>
          <div class="invalid-tooltip">
            Please provide a valid information.
          </div>
        </div>
        <div class="mt-lg-4 mt-3">
          <button class="btn btn-info text-light fs-medium px-3 py-2" type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="col-lg-2 col-md-1"></div>
    <div class="col-md-6 order-md-1 order-0">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3568.9152675854693!2d78.77718902442844!3d26.554989829813287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39767b24cfee93f1%3A0xe8b0ec501e4145bd!2sBTI%20Rd%2C%20Kiratpura%2C%20Madhya%20Pradesh%20477001!5e0!3m2!1sen!2sin!4v1654446053410!5m2!1sen!2sin" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
</div>
</section>

